.MovieList_Container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  color: #cc5500;
}

.card {
  padding: 60px 60px 0px 60px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.year {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.pic-container:hover {
  transform: scale(1.1);
}

.detail-container {
  color: white;
  font-family: "Montserrat", sans-serif;
  display: flex;
  gap: 1rem;
}
